
	{{template "header"}}

		<title>Home - MusicOnline</title>
	</head>

	<body>
		<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/"> MusicOnline </a>
				<div>
					<ul class="nav navbar-nav">
						<li {{if .IsHome}}class="active"{{end}}><a href="/admin">首页</a></li>
						<li {{if .IsNews}}class="active"{{end}}><a href="/adminnews">资讯</a></li>
						<li {{if .IsStage}}class="active"{{end}}><a href="/adminstage">音乐Stage</a></li>
						<li {{if .IsMessage}}class="active"{{end}}><a href="/adminmessage">留言板</a></li>
						<li {{if .IsMusic}}class="active"{{end}}><a href="/adminmusic">音乐</a></li>
					</ul>
				</div>
			</div>
		</div>


		<div class="container" style="height: 300px">
			<h3>MV首播</h3>
			<br/>
			<a href="/mv?name=天涯" ><img src="/static/img/天涯.jpg" class="center-block" height="280px" width="660px" ></a>
		</div>

		<div class="container" style="height: 300px">
			<h3>音乐Satge</h3>

			{{range .Stage}}
				<div class="page-header">
					<h4><a href="/adminstage/view/{{.Id}}">{{.Title}}</a></h4>
					<h6 class="text-muted">文章发表于 {{.Time}}，共有{{.Views}}次浏览</h6>
					<p>
						{{.Content}}
					</p>
				</div>
			{{end}}
		</div>

		<div class="container" style="height: 300px">
			<h3>音乐资讯</h3>

			{{range .News}}
				<div class="page-header">
					<h4><a href="/adminnews/view/{{.Id}}">{{.Title}}</a></h4>
					<h6 class="text-muted">文章发表于 {{.Time}}，共有{{.Views}}次浏览</h6>
					<p>
						{{.Content}}
					</p>
				</div>
				{{end}}
		</div>

		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>

