{{template "header"}}

		<title>Message</title>
	</head>

	<body>
		<div class="navbar navbar-default navbar-inverse  navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/admin"> MusicOnline </a>
				<div>
					<ul class="nav navbar-nav">
						<li {{if .IsHome}}class="active"{{end}}><a href="/admin">首页</a></li>
						<li {{if .IsNews}}class="active"{{end}}><a href="/adminnews">资讯</a></li>
						<li {{if .IsStage}}class="active"{{end}}><a href="/adminstage">音乐Stage</a></li>
						<li {{if .IsMessage}}class="active"{{end}}><a href="/adminmessage">留言板</a></li>
					</ul>
				</div>

				<div class="pull-right">
					<ul class="nav navbar-nav">
					{{if .IsLogin}}
					<li><a href="/login?exit=true">logout</a></li>
					{{else}}
					<li><a href="/login">login</a></li>
					{{end}}
					</ul>
				</div>
			</div>
		</div>

		<div class="container" >
			{{range .Messages}}
			<h3>{{.Nickname}}  <small>{{.Time}}  <a href="/adminmessage/delete?mid={{.Id}}">删除</a></small> </h3>
			{{.Content}}
			{{end}}
		</div>



		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
